<!-- Jessica Carrera Serivicios -->
<div class="row g-0 p-5 bg-body-secondary position-relative bg-light">
  <div class="col-md-4 mb-md-0 p-md-4 d-flex justify-content-end">
    <img src="/website/assets/img/2.jpg" class="rounded-circle">
  </div>
  <div class="col-md-6 p-4 ps-md-0 ">
    <h2 class="mt-0">The Second Heading <span class="text-secondary"> Is Pretty Cool Too</span> </h2>

    <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibullum id ligula porta felis euismo semper. Praesent
      commodo cursus magna, vel scelerisque nisl consectur. fusce dapibus, tellus ac cursos commodo.</p>
  </div>
</div>